<table class='w-100'>
  <tbody>
    <tr>
      <td class='text-nowrap align-top'>{{svg-jar
          'code-16'
          class='octicon align-middle mr-1'
        }}</td>
      <td class='text-right text-break pl-1'>
        Work in progress
      </td>
    </tr>
  </tbody>
</table>