#landscape-container {
  text-align: left;
  touch-action: pan-y;
  box-sizing: border-box;
  flex: 1 1 0%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

#tabnav .nav {
  justify-content: center;
}

.tab-content {
  margin-top: 2rem;
}

@media (min-width: 800px) {
  #landscape-container {
    margin-top: 1rem !important;
  }
}
