@media (min-width: 576px) {
  .popover {
    cursor: move;
    max-width: 550px !important;
    padding: 0.3rem;
  }
}

@media (max-width: 575.98px) {
  .popover > .popover-body {
    overflow-x: auto;

    > table {
      display: inline-table;
    }
  }
}

.popover > .popover-header {
  margin: 0.3rem 0;
}

.popover > .popover-body {
  max-height: 50vh;
  overflow-y: auto;
  padding: 0;
}

.popover[hover] {
  background-color: #bbbbbb !important;
  border-color: #eeeeee !important;
}

.popover[hover] > .popover-header {
  background-color: #999999 !important;
  border-color: #aaaaaa !important;
}

.popover > button {
  margin: 0;
}
