.range-slider--container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.range-slider--values {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}

.reset-all-button {
  margin-top: 1rem;
}

/* Customize the label (the wide-checkbox-container) */
.wide-checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 5rem;
}

/* Hide the browser's default checkbox */
.wide-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.wide-checkbox {
  position: absolute;
  border-radius: 0.25rem;
  top: 0;
  left: 0;
  height: 2rem;
  width: 4rem;
  background-color: #ffbaba;

}

/* On mouse-over, add a grey background color */
.wide-checkbox-container:hover input ~ .wide-checkbox {
  background-color: #ff9b9b;
}

/* When the checkbox is checked, add a blue background */
.wide-checkbox-container input:checked ~ .wide-checkbox {
  background-color: #86d993;
}

.wide-checkbox-container:hover input:checked ~ .wide-checkbox {
  background-color: #5cc86c;
}

.wide-checkbox:before {
  content: "Off";
  display: block;
  color: white;
  text-align: center;
  font-size: 1.25rem;
}

.wide-checkbox-container input:checked ~ .wide-checkbox:before {
  display: none;
}

/* Create the wide-checkbox/indicator (hidden when not checked) */
.wide-checkbox:after {
  content: "On";
  display: none;
  color: white;
  text-align: center;
  font-size: 1.25rem;
}

/* Show the wide-checkbox when checked */
.wide-checkbox-container input:checked ~ .wide-checkbox:after {
  display: block;
}
