#colorHeader {
  display: flex;
  justify-content: flex-end;
}

#colorTitle {
  padding-top: 6px;
}

#colorPresets {
  display: flex;
  justify-content: flex-end;
}

.active-opener{
  font-weight: bold;
}

.inactive-opener{
  font-weight: normal;
}

.th-btn {
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-right: 2px;
  line-height: 1;
  text-align: center;
}

.red-hover:hover {
  color: red !important;
  text-decoration: none;
}

.colorpicker-input {
  padding: 3px 0 3px 0;

  &-addon {
    border-radius: 0 !important;
  }
}

.colorpicker-label {
  padding: 5px 0 0 0;
}

.chevron::before {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  content: '';
  display: inline-block;
  height: 1em;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1em;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

.sidebar {
  display: flex;
  @extend .flex-row;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: absolute !important;
  height: 100%;
  right: 0;
  pointer-events: none;
}

.sidebar-card {
  background-color: rgba(rgb(255, 255, 255), 0.95) !important;
  pointer-events: all;
}

.sidebar-open-button {
  position: absolute;
  height: fit-content;
  left: calc(100vw - 60px);
}

.sidebar-tools-button {
  position: absolute;
  height: fit-content;
  left: 15px;
}

.sidebar-button {
  pointer-events: all;
  opacity: 0.5;
}

#sidebarButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#toolsSidebarButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
