#token-selection-table {
  min-width: 400px;
  width: auto;
  font-weight: 500;
}

#token-selection-table > tbody > tr:hover {
  background-color: #bfbfbf;
  transition: all 0.1s ease-in-out;
}

.button-svg-with-hover {
  all: unset;
}

.button-svg-with-hover:focus {
  outline: none;
}

.button-svg-with-hover:hover {
  color: #fdfdfd;
}

#landscapes-error-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.token-selection-row {
  cursor: pointer;
}

.token-selection-icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: auto;
  padding-left: 0;

  > li {
    margin-right: 1rem;
  }
  > li:last-child {
    margin-right: 0;
  }
}


@media only screen and (max-width: 600px) {
.token-header-row,
.token-timestamp-cell,
.token-button-cell,
#landscape-selection-header {
  display: none !important;
}
}
