@import '_main';
@import '_sidebar';
@import '_settings';
@import '_chat';
@import '_timeline';
@import '_toast';
@import '_pagenavigation';
@import '_navbar';
@import '_visualization_navbar';
@import '_token_selection';
@import '_login';
@import '_right_click_menu';
@import '_popover';
@import '_play_pause';
// located in lib/extended-reality/addon/styles
@import '_augmented_reality';
// located in lib/extended-reality/addon/styles
@import '_virtual_reality';

// located in lib/heatmap/addon/styles
@import '_heatmap';
// located in lib/collaborative_mode/addon/styles
@import '_collaboration.scss';
@import 'ember-bootstrap/bootstrap';
@import 'ember-right-click-menu';
@import 'ember-power-select/themes/bootstrap';
@import 'ember-power-select';

.disable-select {
  user-select: none; /* supported by most browsers */
  -webkit-user-select: none; /* Safari */
}

button {
  user-select: none; /* supported by most browsers */
  -webkit-user-select: none; /* Safari */
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
}

#ember-right-click-menu-wormhole > ul {
  z-index: 100000;
}
