# compiled output
/dist/
/declarations/

# dependencies
/bower_components/
**/node_modules/

# misc
/.env*
/.pnp*
/.eslintcache
/coverage/
/npm-debug.log*
/yarn-error.log

# broccoli-debug
/DEBUG/

# Ignore custom pre-commit hooks
.husky/*

# Dev Container
/.devcontainer*
.github/dependabot.yml
