<div id='colorPresets' class='dropdown'>
  <a
    class='button-svg-with-hover'
    type='button'
    tabindex='0'
    href='#'
    {{on 'click' (fn this.shareSnapshot @token) }}
  >
    {{svg-jar 'share-android-16' class='octicon align-middle'}}
    <BsTooltip @placement='bottom' @triggerEvents='hover'>
      Share Snapshot
    </BsTooltip>
  </a>
</div>