<div class='toast-stack-container position-fixed p-3'>
  <div class='toast-card-stack'>
    {{#each this.toastMessages as |toast|}}
      <div
        id={{toast.htmlId}}
        class='toast toast-card {{toast.cssClasses}}'
        data-delay='4000'
        role='alert'
        aria-live='assertive'
        aria-atomic='true'
        {{did-insert this.toastRenderIsComplete}}
      >
        {{#if toast.header}}
          <div class='toast-header'>
            <strong class='mr-auto'>Information</strong>
            <button
              type='button'
              class='ml-2 mb-1 close'
              data-dismiss='toast'
              aria-label='Close'
            >
              <span aria-hidden='true'>&times;</span>
            </button>
          </div>
        {{/if}}
        <div class='toast-body'>
          {{toast.message}}
        </div>
      </div>
    {{/each}}
  </div>
</div>