<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {{#each @colorSchemes as |colorScheme|}}
      <li>
      <a class="dropdown-item pointer-cursor"
      {{on "click" (fn @applyColorScheme colorScheme.id)}}>
        {{colorScheme.name}}
      </a>
      </li>
    {{/each}}
  </ul>
</div>