<button
  {{did-insert this.setup}}
  id='{{@buttonName}}'
  type='button'
  class='btn btn-light btn-outline-dark sidebar-button'
  title='Resize Sidebar'
  aria-label='Resize'
>
  {{svg-jar 'arrow-both-16' class='octicon align-middle'}}
</button>