<div id='ar-heatmap-interaction-container'>
  <BsButton
    @type={{if this.heatmapConf.heatmapActive 'success' 'primary'}}
    class='half-transparent'
    {{on 'click' @toggleHeatmap}}
  >
    {{svg-jar 'flame-16' class='octicon align-middle ar-button-svg'}}
  </BsButton>
</div>