<div id='ar-zoom-container'>
  <BsButton
    @type={{if @arZoomHandler.zoomEnabled 'success' 'primary'}}
    class='half-transparent'
    {{on 'click' @handleZoomToggle}}
  >
    {{svg-jar 'search-16' class='octicon align-middle ar-button-svg'}}
  </BsButton>
</div>