<li class='nav-item'>
  <div
    class='nav-link-with-cursor'
    title='Setup for vscode extension settings'
    {{on 'click' this.showVSCodeSettings}}
  >
    {{#if this.isOpen}}
      <div class='active-opener'>Extension Settings</div>
    {{else}}
      <div class='inactive-opener'>Extension Settings</div>
    {{/if}}
  </div>
</li>