<li class='nav-item'>
  <div
    class='nav-link-with-cursor'
    title='Show/Hide {{@componentTitle}}'
    {{on 'click' this.toggleComponent}}
  >
    <div
      class={{if this.isOpen 'active-opener' 'inactive-opener'}}
    >{{@componentTitle}}</div>
  </div>
</li>