<div id="heatmapInfo" class="foreground" style="position: absolute; cursor: move" 
  {{on "pointerup" this.dragMouseDown}}
  {{did-insert this.setPopupPosition}}>
  <HeatmapLegend
  />
  <MetricSelector
    @selectMetric={{@updateMetric}}
  />
</div>
