.chatbot {
  margin-top: 2rem;
}

.chatbox-button-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  gap: 6px;
}

.chatbot-right-buttons {
  justify-self: flex-end;
}

.poweredBy {
  display: none !important;
}

.copilotKitChat {
  max-height: 500px;
}

// Hide the CopilotKit button
#vizspace > button {
  display: none !important;
}

.copilotKitMessages::-webkit-scrollbar-track {
  background-color: white;
}

.tool-call-card {
  border-radius: 20px;
  background-color: rgba(var(--bs-primary-rgb), 0.05);
  padding: 7.5px 16px 7.5px 40px;
  max-width: 80%;
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.08);
  position: relative;
  min-height: 40px;
  display: inline-block;
}

.tool-call-card.error {
  background-color: rgba(var(--bs-danger-rgb), 0.3);
}

.tool-call-card button {
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 13px;
}

.ping-indicator {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: var(--bs-danger);
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10000002;
  animation: fadeInOut 3s ease-in-out forwards;
}
.ping-indicator::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--bs-danger);
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

// ping indicator animation
@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  5%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
