.chatbot {
  margin-top: 2rem;
}

.chatbox-button-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  gap: 6px;
}

.chatbot-right-buttons {
  justify-self: flex-end;
}

.poweredBy {
  display: none !important;
}

.copilotKitChat {
  max-height: 500px;
}

// Hide the CopilotKit button
#vizspace > button {
  display: none !important;
}

.copilotKitMessages::-webkit-scrollbar-track {
  background-color: white;
}
