.chatbot {
  margin-top: 2rem;
}

.chatbox-button-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  gap: 6px;
}

.chatbot-right-buttons {
  justify-self: flex-end;
}

.poweredBy {
  display: none !important;
}

.copilotKitChat {
  max-height: 500px;
}

// Hide the CopilotKit button
#vizspace > button {
  display: none !important;
}

.copilotKitMessages::-webkit-scrollbar-track {
  background-color: white;
}

.tool-call-card {
  border-radius: 20px;
  background-color: rgba(var(--bs-primary-rgb), 0.05);
  padding: 7.5px 16px 7.5px 40px;
  max-width: 80%;
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.08);
  position: relative;
  min-height: 40px;
  display: inline-block;
}

.tool-call-card.error {
  background-color: rgba(var(--bs-danger-rgb), 0.3);
}

.tool-call-card button {
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 13px;
}
