.context-menu-item {
  padding: 8px;
  cursor: 'pointer';

  &:hover {
    background-color: lightgrey;
  }
}

.select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
