#bottom-bar-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  z-index: 10000000;
}

.plotlyDiv {
  height: 200px;
}

.plotlyCommitDiv {
  height: 300px;
}

.bottom-bar-chart-commitTree {
  height: 300px !important;
}

.bottom-bar-chart {
  background-color: white;
  border-top: darkgray 1px solid;
  transition: 0.7s ease-in-out;
  opacity: 1;
  height: 250px;
  margin-bottom: 10px;
  position: relative;
}

.bottom-bar-chart-hide {
  height: 0;
  opacity: 0;
  margin-bottom: 0;
  overflow: hidden;
}

#bottom-bar-chart-button-div {
  width: max-content;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 23px;
  position: relative;
  z-index: 500;
}

.bottom-bar-chart-button {
  border-color: darkgray;
  font-weight: bold !important;
}

#timelineCanvas {
  border-top: darkgray 1px solid;
}

.bottom-bar-toggle-btn {
  border-bottom: none !important;
  border-color: darkgray;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: white !important;
  left: 50%;
  transform: translate(-50%, -26px);
  z-index: 490;
  height: 27px;
  position: absolute;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: darkgray !important;
}

.bottom-bar-toggle-btn:focus {
  box-shadow: none !important;
}

.bottom-bar-toggle-btn:hover {
  background-color: #6c757d !important;
  color: white !important;
}

.hide-bottom-bar-icon-down {
  transform: rotate(180deg);
}

.timeline-no-content {
  height: 50px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  border-style: solid;
}

.timeline-no-timestamps-inner {
  border: 1px black solid;
  background: #85959a;
  opacity: 0.9;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: white;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  pointer-events: auto;
}

.timeline-no-timestamps-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 490;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.timeline-blur-effect {
  filter: blur(0.1rem) opacity(0.5);
}

.commit-tree-refresh-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 500;
  padding: 0.5rem 0.5rem;
}

.commit-tree-no-data-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.commit-tree-no-data-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #85959a;
  opacity: 0.9;
  border: 1px black solid;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  z-index: 10;
}
