.nav-link-with-cursor {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  background: none;
  border: 0;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.nav-item-with-def-cursor {
  flex: 1 1 auto;
  text-align: center;
  cursor: default !important;
}

.navbar-highlight {
  color: red;
}

.explorviz-visualization-navbar {
  position: relative;
  z-index: 750;
  align-self: center;
  background-color: #f9f9f9;
  width: 100%;
  border-radius: 0.25rem;
  pointer-events: all;
}

.explorviz-visualization-navbar > ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
}

.explorviz-visualization-navbar > ul > li {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.explorviz-visualization-navbar > ul.nav > li.nav-item {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  color: rgba(0, 0, 0, 0.5);
}

.explorviz-visualization-navbar > ul.nav > li.nav-item:hover {
  color: rgb(85 126 187 / 95%);
  transform: scale(1.1);
}
