@use '_main';
@use '_sidebar';
@use '_settings';
@use '_chat';
@use '_chatbot';
@use '_timeline';
@use '_toast';
@use '_navbar';
@use '_visualization_navbar';
@use '_token_selection';
@use '_context_menu';
@use '_popover';
@use '_annotation';
@use '_play_pause';
@use '_landscapes';
@use '_augmented_reality';
@use '_virtual_reality';

@use '_heatmap';
@use '_collaboration.scss';

.disable-select {
  user-select: none;
  /* supported by most browsers */
  -webkit-user-select: none;
  /* Safari */
}

button {
  user-select: none;
  /* supported by most browsers */
  -webkit-user-select: none;
  /* Safari */
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
}

#ember-right-click-menu-wormhole>ul {
  z-index: 100000;
}