<SynchronizationCheck @deviceId={{this.deviceId}} @roomId={{this.roomId}} />

<div id='ember-right-click-menu-wormhole'></div>
<div id='main-container'>
  {{#if this.auth.user}}
    <PageSetup::Navbar />
  {{/if}}
  {{outlet}}
</div>