<div id='sidebarButtonContainer' class='foreground'>
  <button
    type='button'
    class='btn btn-light btn-outline-dark sidebar-button'
    title='Close Sidebar'
    aria-label='Close'
    {{on 'click' @closeDataSelection}}
  >
    {{svg-jar 'x-16' class='octicon align-middle'}}
  </button>
  <Visualization::PageSetup::Sidebar::SidebarResizer
    @buttonName='sidebarDragButton'
    @containerName='sidebarButtonContainer'
    @sidebarName='dataselection'
  />
  <Visualization::PageSetup::Sidebar::Customizationbar::Restructure::UndoRestructure
  />
</div>
<div class='sidebar-card-container pr-3 pl-3 pb-3'>
  {{yield}}
</div>